@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h1,h3,h4,h5,h6,p,button{
  font-family: 'Poppins', sans-serif;

}

body {
 
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collapse-plus .collapse-title:after {
  position: absolute;
  display: block;
  height: 0.5rem/* 8px */;
  width: 0.5rem/* 8px */;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 0.9rem/* 14.4px */;
  right: 1.4rem/* 22.4px */;
  content: "+";
  pointer-events: none;
  color: #f6621b;
}
.collapse-open.collapse-plus .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) .collapse-title:after,
.collapse-plus:not(.collapse-close) input[type="checkbox"]:checked ~ .collapse-title:after {
  content: "−";
}
.collapse-open.collapse-plus .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) .collapse-title:after,
.collapse-plus:not(.collapse-close) input[type="checkbox"]:checked ~ .collapse-title:after {
  content: "−";
}
.collapse-open.collapse-plus .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) .collapse-title:after,
.collapse-plus:not(.collapse-close) input[type="checkbox"]:checked ~ .collapse-title:after {
  content: "−";
  color: #f6621b;
}


.swiper-button-next,.swiper-button-prev {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 8px;
  height: 8px;
  color: #f6621b !important;
}

/*move swiper pagination on top to image */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  background-color: transparent;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
  width: 8px;
  height: 8px;
}
